<!-- clients -->
<section class="clients py-lg-4 py-md-3 py-sm-3 py-3" id="clients">
    <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
       <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2">Our Clients</h3>
       <div class="title-wls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
          <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum </p>
       </div>
       <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 clients-row-grid">
             <div class="client-txt-color text-center">
                <p class="mb-md-4 mb-sm-3 mb-2"><span class="fa fa-quote-left" aria-hidden="true"></span> Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore <span class="fa fa-quote-right" aria-hidden="true"></span></p>
                <img src="assets/img/c1.jpg" class="img-fluid" alt="">
                <div class="client-txt-info mt-2">
                   <h4> Ted Willson</h4>
                </div>
             </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 clients-row-grid">
             <div class="client-txt-color text-center">
                <p class="mb-md-4 mb-sm-3 mb-2"><span class="fa fa-quote-left" aria-hidden="true"></span> Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore <span class="fa fa-quote-right" aria-hidden="true"></span></p>
                <img src="assets/img/c2.jpg" class="img-fluid" alt="">
                <div class="client-txt-info mt-2">
                   <h4> Ted Willson</h4>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <!--//clients -->