<section class="news py-5" id="news">
	<div class="container py-lg-3">
		<div class="row blog-grids">
			<div class="col-lg-4 col-md-6 newsgrid1">
				<img src="assets/img/bb1.jpg" alt="news image" class="img-fluid">
				<h4 class="mt-4"><a href="single.html">lacinia eget consectetur sed Vivamus magna justo</a></h4>
			</div>
			<div class="col-lg-4 col-md-6 mt-md-0 mt-5 newsgrid2">
				<img src="assets/img/bb2.jpg" alt="news image" class="img-fluid">
				<h4 class=" mt-4"><a href="single.html">Nulla quis lorem ipnut libero malesuada feugiat</a></h4>
			</div>
			<div class="col-lg-4 col-md-6 mt-lg-0 mt-5 newsgrid2">
				<img src="assets/img/g10.jpg" alt="news image" class="img-fluid">
				<h4 class=" mt-4"><a href="single.html">Convallis at tellus. Nulla quis lorem ipnut libero</a></h4>
			</div>
			
			<div class="col-lg-4 col-md-6 newsgrid1 mt-5">
				<img src="assets/img/g11.jpg" alt="news image" class="img-fluid">
				<h4 class="mt-4"><a href="single.html">lacinia eget consectetur sed Vivamus magna justo</a></h4>
			</div>
			<div class="col-lg-4 col-md-6 mt-5 newsgrid2">
				<img src="assets/img/bb1.jpg" alt="news image" class="img-fluid">
				<h4 class=" mt-4"><a href="single.html">Nulla quis lorem ipnut libero malesuada feugiat</a></h4>
			</div>
			<div class="col-lg-4 col-md-6 mt-5 newsgrid2">
				<img src="assets/img/bb2.jpg" alt="news image" class="img-fluid">
				<h4 class=" mt-4"><a href="single.html">Convallis at tellus. Nulla quis lorem ipnut libero</a></h4>
			</div>
		</div>		
	</div>
</section>