<div class="main-top" id="home" style="background: url(assets/img/b2.jpg) no-repeat bottom;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
min-height: 800px;">
    <div class="main-banner">
       <div class="container">
          <div class="style-banner text-center">
             <h4 class="mb-2">Welcome To Company</h4>
             <p> Lorem ipsum dolor sit amet</p>
          </div>
          <div class="two-demo-button d-flex justify-content-center mt-lg-5 mt-md-4 mt-sm-4 mt-3">
             <div class="read-buttn ">
                <a href="#service" class="btn scroll">Read More</a>
             </div>
             <div class="view-buttn">
                <a href="#about" class="btn scroll">About Us</a>
             </div>
          </div>
       </div>
    </div>
 </div>