  <section class="price py-lg-4 py-md-3 py-sm-3 py-3" id="prices">
      <div class="container py-lg-5 py-md-5 py-sm-4 py-3">
         <h3 class="title text-center mb-md-4 mb-sm-3 mb-3 mb-2">Our Product</h3>
         <div class="title-wls-text text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
            <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum </p>
         </div>
         <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 pricing-grid">
               <div class="w3ls-bottom grid-two">
                  <div class="price-images">
                     <div class="table-txt-grid">
                        <h4>GOLDEN</h4>
                     </div>
                     <div class="my-lg-4 my-3 price-w3layouts-table">
                        <h4> <span class="sup">$</span><span class="number-price">60</span> / month </h4>
                     </div>
                     <div class="price-list-txt">
                        <ul class="count">
                           <li>Lorem ipsum </li>
                           <li>Dolor sit </li>
                           <li>Consectetuer</li>
                           <li>Adipiscing</li>
                           <li>Lorem ipsum </li>
                        </ul>
                     </div>
                     <div class="view-price mt-3">
                        <a href="contact.html" class=" scroll">Book Now</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 pricing-grid">
               <div class="w3ls-bottom grid-two">
                  <div class="price-images">
                     <div class="table-txt-grid">
                        <h4>PREMIUM</h4>
                     </div>
                     <div class="my-lg-4 my-3 price-w3layouts-table">
                        <h4> <span class="sup">$</span><span class="number-price">60</span> / month </h4>
                     </div>
                     <div class="price-list-txt">
                        <ul class="count">
                           <li>Lorem ipsum </li>
                           <li>Dolor sit </li>
                           <li>Consectetuer</li>
                           <li>Adipiscing</li>
                           <li>Lorem ipsum </li>
                        </ul>
                     </div>
                     <div class="view-price mt-3">
                        <a href="contact.html" class=" scroll">Book Now</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 pricing-grid">
               <div class="w3ls-bottom grid-one">
                  <div class="price-images">
                     <div class="table-txt-grid color-white">
                        <h4>PLATINUM</h4>
                     </div>
                     <div class="my-lg-4 my-3 price-w3layouts-table">
                        <h4> <span class="sup">$</span><span class="number-price">70</span> / month </h4>
                     </div>
                     <div class="price-list-txt price-grid-one">
                        <ul class="count">
                           <li>Lorem ipsum </li>
                           <li>Dolor sit </li>
                           <li>Consectetuer</li>
                           <li>Adipiscing</li>
                           <li>Lorem ipsum </li>
                        </ul>
                     </div>
                     <div class="view-price color-black mt-3 ">
                        <a href="contact.html" class=" scroll">Book Now</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 pricing-grid">
               <div class="w3ls-bottom grid-two">
                  <div class="price-images">
                     <div class="table-txt-grid">
                        <h4>SILVER</h4>
                     </div>
                     <div class="my-lg-4 my-3 price-w3layouts-table">
                        <h4> <span class="sup">$</span><span class="number-price">80</span> / month </h4>
                     </div>
                     <div class="price-list-txt">
                        <ul class="count">
                           <li>Lorem ipsum </li>
                           <li>Dolor sit </li>
                           <li>Consectetuer</li>
                           <li>Adipiscing</li>
                           <li>Lorem ipsum </li>
                        </ul>
                     </div>
                     <div class="view-price mt-3">
                        <a href="contact.html" class=" scroll">Book Now</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>